<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><f:render section="Title" /></title>
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Vendor/bootstrap-3.1.1/css/bootstrap.min.css', package: 'Acme.Question')}">
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Styles/App.css', package: 'Acme.Question')}">
		<f:base />
	</head>
	<body>
		<header>
			<h1><f:render section="Title" /></h1>
			<f:link.action action="index" controller="Standard" package="TYPO3.Welcome">
				<f:translate id="action.back" />
			</f:link.action>
		</header>
		<div id="container">
			<f:flashMessages class="flashmessages" />
			<f:render section="Content" />
		</div>
		<footer>
			<a href="{f:translate(id: 'page.by.url')}">{f:translate(id: 'page.by')}</a>
		</footer>
	</body>
</html>
