<f:layout name="SubPage" />

<f:section name="Title"><f:translate id="answer.action.edit" /></f:section>

<f:section name="Content">
	<f:form action="update" object="{answer}" objectName="answer">
		<label for="content"><f:translate id="answer.content" /></label>
		<f:form.textfield property="content" id="content" />

		<label for="correct"><f:translate id="answer.correct" /></label>
		<f:form.checkbox property="correct" id="correct" value="1" checked="{answer.correct} == 1" />

		<f:form.submit value="{f:translate(id: 'action.update')}" />
	</f:form>
</f:section>
