<f:layout name="SubPage" />

<f:section name="Title"><f:translate id="answer.action.list" /></f:section>

<f:section name="Content">
	<f:if condition="{question.answers}">
		<f:then>
			<ul>
				<f:for each="{question.answers}" as="answer">
					<li class="item">
						<ul class="actions">
							<li>
								<i class="{f:if(condition: '{answer.correct} == 1', then: 'correct', else: 'incorrect')}"></i>
							</li>
							<li>
								<f:link.action action="edit" arguments="{answer: answer, question: answer.question, course: answer.question.course}">
									<f:translate id="action.edit" />
								</f:link.action>
							</li>
							<li>
								<f:form action="delete" arguments="{answer: answer, question: answer.question, course: answer.question.course}">
									<f:form.submit value="{f:translate(id: 'action.delete')}" />
								</f:form>
							</li>
						</ul>
						<h2>
							<f:link.action action="show" arguments="{answer: answer, question: answer.question, course: answer.question.course}">
								<f:format.crop maxCharacters="50">{answer.content}</f:format.crop>
							</f:link.action>
						</h2>
					</li>
				</f:for>
			</ul>
			<f:translate id="question.feedback" />
			<p>{question.feedback}</p>
		</f:then>
		<f:else>
			<p><f:translate id="answer.action.no_record" /></p>
		</f:else>
	</f:if>
	<p>
		<f:link.action action="new" arguments="{question: question, course: question.course}">
			<f:translate id="answer.action.new" />
		</f:link.action>
	</p>
</f:section>
