<f:layout name="SubPage" />

<f:section name="Title"><f:translate id="answer.action.new" /></f:section>

<f:section name="Content">
	<f:form action="create" objectName="newAnswer">
		<label for="content"><f:translate id="answer.content" /></label>
		<f:form.textarea rows="5" cols="30" property="content" id="content" />

		<label for="correct"><f:translate id="answer.correct" /></label>
		<f:form.checkbox property="correct" id="correct" value="1" />

		<f:form.hidden property="question" id="question" value="{question}" />

		<f:form.submit value="{f:translate(id: 'action.create')}" />
	</f:form>
</f:section>
