<f:layout name="Default" />

<f:section name="Title"><f:translate id="answer.action.new" /></f:section>

<f:section name="Content">
	<div class="row">
		<f:form action="create" objectName="newAnswer">
			<div class="form-group">
				<label for="content"><f:translate id="answer.content" /></label>
				<f:form.textarea rows="5" cols="30" property="content" id="content" class="form-control" />
			</div>

			<div class="checkbox">
				<label for="correct"><f:form.checkbox property="correct" id="correct" value="1" /><f:translate id="answer.correct" /></label>
			</div>

			<f:form.hidden property="question" id="question" value="{question}" />

			<f:link.action action="index" arguments="{question: question, course: question.course}">
				<span class="glyphicon glyphicon-backward"></span>
				<f:translate id="action.back" />
			</f:link.action>
			<f:form.submit name="submit" value="{f:translate(id: 'action.create')}" class="btn btn-primary pull-right" />
		</f:form>
	</div>
</f:section>
