<f:layout name="SubPage" />

<f:section name="Title"><f:translate id="answer.action.show" /></f:section>

<f:section name="Content">
	<table>
		<tr>
			<th><f:translate id="answer.question" /></th>
			<td>{answer.question.content}</td>
		</tr>

		<tr>
			<th><f:translate id="answer.content" /></th>
			<td>{answer.content}</td>
		</tr>

		<tr>
			<th><f:translate id="answer.correct" /></th>
			<td><i class="{f:if(condition: '{answer.correct} == 1', then: 'correct', else: 'incorrect')}"></i></td>
		</tr>
	</table>
	<f:link.action action="index"><f:translate id="action.back" /></f:link.action>
</f:section>
