<f:layout name="Default" />

<f:section name="Title"><f:translate id="course.action.edit" arguments="{0: '{course.title}'}" /></f:section>

<f:section name="Content">
	<f:form action="update" object="{course}" objectName="course">
		<label for="title"><f:translate id="course.title" /></label>
		<f:form.textfield property="title" id="title" />

		<label for="description"><f:translate id="course.description" /></label>
		<f:form.textarea rows="5" cols="30" property="description" id="description" />

		<f:form.submit name="submit" value="{f:translate(id: 'action.update')}" />
	</f:form>
</f:section>
