<f:layout name="Default" />

<f:section name="Title"><f:translate id="course.action.list" /></f:section>

<f:section name="Content">
	<f:if condition="{courses}">
		<f:then>
			<ul>
				<f:for each="{courses}" as="course">
					<li class="item">
						<ul class="actions">
							<li>
								<f:link.action action="appraise" controller="Question" arguments="{course: course}">
									<f:translate id="assessment.title" />
								</f:link.action>
							</li>
							<li>
								<f:link.action action="edit" arguments="{course: course}">
									<f:translate id="action.edit" />
								</f:link.action>
							</li>
							<li>
								<f:form action="delete" arguments="{course: course}">
									<f:form.submit name="delete" value="{f:translate(id: 'action.delete')}" />
								</f:form>
							</li>
						</ul>
						<h2><f:link.action action="index" controller="Question" arguments="{course: course}">{course.title}</f:link.action></h2>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p><f:translate id="course.action.no_record" /></p>
		</f:else>
	</f:if>
	<p><f:link.action action="new"><f:translate id="course.action.new" /></f:link.action></p>
</f:section>
