<f:layout name="SubPage" />

<f:section name="Title"><f:translate id="course.action.new" /></f:section>

<f:section name="Content">
	<f:form action="create" objectName="newCourse">
		<label for="title"><f:translate id="course.title" /></label>
		<f:form.textfield property="title" id="title" />

		<label for="description"><f:translate id="course.description" /></label>
		<f:form.textarea rows="5" cols="30" property="description" id="description" />

		<f:form.submit name="submit" value="{f:translate(id: 'action.create')}" />
	</f:form>
</f:section>
