<f:layout name="Default" />

<f:section name="Title"><f:translate id="question.action.edit" /></f:section>

<f:section name="Content">
	<f:form action="update" object="{question}" objectName="question">
		<label for="content"><f:translate id="question.content" /></label>
		<f:form.textarea rows="5" cols="30" property="content" id="content" />

		<label for="hint"><f:translate id="question.hint" /></label>
		<f:form.textarea rows="5" cols="30" property="hint" id="hint" />

		<f:form.submit value="{f:translate(id: 'action.update')}" />
	</f:form>
</f:section>
