<f:layout name="Default" />

<f:section name="Title"><f:translate id="question.action.list" /></f:section>

<f:section name="Content">
	<div class="row">
		<p class="list-group">
			<f:link.action action="index" controller="Course">
				<span class="glyphicon glyphicon-backward"></span>
				<f:translate id="action.back" />
			</f:link.action>
			<f:link.action action="new" arguments="{course: course}" class="btn btn-primary pull-right">
				<span class="glyphicon glyphicon-plus"></span>
				<f:translate id="question.action.new" />
			</f:link.action>
		</p>
	</div>
	<div class="row">
		<f:if condition="{course.questions}">
			<f:then>
				<table class="table table-striped">
					<f:for each="{course.questions}" as="question">
						<tr>
							<td>
								<f:link.action action="index" controller="Answer" arguments="{question: question, course: course}">
									<f:format.crop maxCharacters="50">{question.content}</f:format.crop>
								</f:link.action>
							</td>
							<td class="text-right">
								<f:link.action action="edit" arguments="{question: question, course: course}" class="btn btn-warning">
									<span class="glyphicon glyphicon-edit"></span>
									<f:translate id="action.edit" />
								</f:link.action>

								<f:form action="delete" arguments="{question: question, course: course}" class="pull-right">
									<span class="glyphicon"></span>
									<f:form.submit name="submit" value="{f:translate(id: 'action.delete')}" class="btn btn-danger {f:if(condition: '{question.numberAnswer} == 0', then: '', else: 'disabled')}" />
								</f:form>
							</td>
						</tr>
					</f:for>
				</table>
			</f:then>
			<f:else>
				<p><f:translate id="question.action.no_record" /></p>
			</f:else>
		</f:if>
	</div>
</f:section>
