<f:layout name="SubPage" />

<f:section name="Title"><f:translate id="question.action.new" /></f:section>

<f:section name="Content">
	<f:form action="create" objectName="newQuestion" arguments="{course: course}">
		<label for="content"><f:translate id="question.content" /></label>
		<f:form.textarea rows="5" cols="30" property="content" id="content" />

		<label for="hint"><f:translate id="question.hint" /></label>
		<f:form.textarea rows="5" cols="30" property="hint" id="hint" />

		<f:form.hidden property="course" id="course" value="{course}" />

		<f:form.submit name="submit" value="{f:translate(id: 'action.create')}" />
	</f:form>
</f:section>
